fastapi
uvicorn

sqlalchemy
psycopg2-binary
pgvector
python-dotenv

bcrypt
pyjwt
pypdf

openai

langchain
langchain-community
langgraph

pymupdf
python-docx

typing_extensions
pydantic
pydantic-settings
python-multipart
requests
httpx
